@charset "utf-8";

/* -------------------------------------------------
                                 Individual Style
------------------------------------------------- */

/* -------------------------------------------------
                                          Sign In
------------------------------------------------- */
.sign-in-box {
	width: 320px;
	margin: 32px auto;
	border: solid 4px #E5E5E5;
	padding: 24px 64px;
}
.signin-form {
}
.signin-form li {
	padding: 6px 0;
}
.signin-form li p {
	padding-bottom: 6px;
	color: #444;
}
.signin-form input[type="text"],.signin-form input[type="password"] {
	padding: 6px 8px;
	width: 80%;
}
.signin-form input[type="submit"] {
	margin-top: 8px;
	padding: 10px 32px;
	height: 36px;
	background-color: #882255;
	border: 1px solid #882255;
	color: #FFF;
	line-height: 1;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	cursor: pointer;
}

/* -------------------------------------------------
                                     Product list
------------------------------------------------- */
.product-search-box {
	width: 960px;
	margin: 32px auto 0;
}
.product-search-condition-list {
	width: 100%;
	margin-top: 12px;
}
.product-search-condition-list li {
	height: 32px;
}
.product-search-condition-list li span {
	display: inline-block;
	padding-right: 8px;
}
.product-search-form input[type="text"] {
	padding: 2px 6px;	
}
.product-search-form input[type="submit"] {
	margin-top: 8px;
	padding: 10px 32px;
	height: 36px;
	background-color: #882255;
	border: 1px solid #882255;
	color: #FFF;
	line-height: 1;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	cursor: pointer;
}
.product-result-box {
	width: 960px;
	margin: 32px auto 0;
}
.product-list-tbl {
	width: 100%;
	margin: 12px auto 0;
}
.product-list-tbl th {
	border: solid 1px #CCC;
	padding: 6px 0;
	background-color: #888;
	color: #FAFCF2;
}
.product-list-tbl td {
	padding: 6px 0;
	border: solid 1px #CCC;
	text-align: center;
}
.product-list-paging-box {
	text-align: right;
	margin: 10px 10px 20px 0;
	font-size: 18px;
}

/* -------------------------------------------------
                                     Purchase list
------------------------------------------------- */
.purchase-search-box {
	width: 960px;
	margin: 32px auto 0;
}
.purchase-search-condition-list {
	width: 100%;
	margin-top: 12px;
}
.purchase-search-condition-list li {
	height: 32px;
}
.purchase-search-condition-list li span {
	display: inline-block;
	padding-right: 8px;
}
.purchase-search-form input[type="text"] {
	padding: 2px 6px;	
}
.purchase-search-form input[type="submit"] {
	margin-top: 8px;
	padding: 10px 32px;
	height: 36px;
	background-color: #882255;
	border: 1px solid #882255;
	color: #FFF;
	line-height: 1;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	cursor: pointer;
}
.purchase-result-box {
	width: 960px;
	margin: 32px auto 0;
}
.purchase-list-tbl {
	width: 100%;
	margin: 12px auto 0;
}
.purchase-list-tbl th {
	border: solid 1px #CCC;
	padding: 6px 0;
	background-color: #888;
	color: #FAFCF2;
}
.purchase-list-tbl td {
	padding: 6px 0;
	border: solid 1px #CCC;
	text-align: center;
}
.purchase-list-paging-box {
	text-align: right;
	margin: 10px 10px 20px 0;
	font-size: 18px;
}

/* -------------------------------------------------
                                             Member
------------------------------------------------- */
.member-search-box {
	width: 960px;
	margin: 32px auto 0;
}
.member-search-condition-list {
	width: 100%;
	margin-top: 12px;
}
.member-search-condition-list li {
	height: 32px;
}
.member-search-condition-list li span {
	display: inline-block;
	padding-right: 8px;
}
.member-search-form input[type="text"] {
	padding: 2px 6px;	
}
.member-search-form input[type="submit"] {
	margin-top: 8px;
	padding: 10px 32px;
	height: 36px;
	background-color: #882255;
	border: 1px solid #882255;
	color: #FFF;
	line-height: 1;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	cursor: pointer;
}
.member-result-box {
	width: 960px;
	margin: 32px auto 0;
}
.member-list-tbl {
	width: 100%;
	margin: 12px auto 0;
}
.member-list-tbl th {
	border: solid 1px #CCC;
	padding: 6px 0;
	background-color: #888;
	color: #FAFCF2;
}
.member-list-tbl td {
	padding: 6px 0;
	border: solid 1px #CCC;
	text-align: center;
}
.member-list-paging-box {
	text-align: right;
	margin: 10px 10px 20px 0;
	font-size: 18px;
}
.member-input-box {
	width: 960px;
	margin: 32px auto 0;
}
.member-input-tbl td {
	padding: 6px 0;
	border: solid 1px #CCC;
	text-align: center;
}

/* -------------------------------------------------
                                             Profile
------------------------------------------------- */
.profile-contents-box {
	width: 960px;
    margin: 32px auto 0;
	padding-bottom: 20px;
}

.profile-info-detail > li {
	margin-top: 10px;
}

.profile-product-box {
	margin-top: 32px;
}