:host {
  display: block;
  margin: 0 auto;
  position: relative;
}
:host .inner {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  padding: 20px;   
  position: relative;
  z-index: 1000;   
}
:host h2 {
  margin: 0;
  line-height: 1.4;
}
:host paper-button {
  line-height: 1;
  text-transform: none;
  margin-left: 20px;
}
:host .button-area {
  text-align: right;
  margin-top: 10px;
}
:host a {
  color: var(--paper-blue-300);
  font-weight: normal;
  font-size: 12px;
  padding-top: 5px;
}
:host iron-selector div{
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  position: relative;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  margin-left: 8px;
  padding: 0 10px 0 12px;
  color: #fff;
  background: #ddd;
  text-decoration: none;
  border-radius: 1px 3px 3px 1px;
}
:host iron-selector div:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -8px;
  width: 0;
  height: 0;
  border-color: transparent #ddd transparent transparent;
  border-style: solid;
  border-width: 10px 8px 10px 0;
}
:host iron-selector div:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
}
:host .iron-selected {
  background-color: var(--paper-teal-400);
}
:host iron-selector .iron-selected:before {
  border-color: transparent var(--paper-teal-400) transparent transparent;
}
:host label {
  display: block;
  margin-top: 18px;
  color: #727272;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
:host paper-spinner {
  position: relative;
  top: 8px;
  left: 10px;
  --paper-spinner-layer-1-color: var(--paper-teal-500);
  --paper-spinner-layer-2-color: var(--paper-teal-500);
  --paper-spinner-layer-3-color: var(--paper-teal-500);
  --paper-spinner-layer-4-color: var(--paper-teal-500);
}
:host #signupToast {
  position: absolute;
  width: 380px;
  left: 0;
  top: 0;
  bottom: auto;
  background: #FFEFEF;
  color: #DB4437;
}
